.btn,
.btn:link,
.btn:visited{
	/*you want buttons to look uniform, visited or not*/
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #ff9013;
	background-image: linear-gradient(to bottom, #ff9013, #dd7891);
	/*subtract 2 from each number for darker shade*/
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
}

.btn-alt,
.btn-alt:link,
.btn:visited{
	background-color: #bdf383;
	background-image: linear-gradient(to bottom, #bdf383, #64F383);
}