.btn,
.btn:link,
.btn:visited{
	/*you want buttons to look uniform, visited or not*/
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff, #f0f0f0);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
	color: #bdf383;
	font-weight: 400;
}

.btn-alt,
.btn-alt:link,
.btn:visited{
	background-color: #bdf383;
	background-image: linear-gradient(to bottom, #bdf383, #aaf05f);
	color: #fff;
}