html{
	margin: 0;
	padding: 0.75rem;
	background-color: #f9f7b7;
}

body{
	background-color: #f9f2d7;
}

.img-center{
	margin:0 auto;
}

.img-flex{
	display: block;
	width: 100%;
	margin:auto;
}

.about-img{
	max-width: 550px;
}