header{
	margin: 0;
	padding: 0;
	width: 100%;
	/*border-bottom: 1px solid #64caf5;*/
}

.grid{
	background-color: #f9f7b7;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
        -ms-transition: all 350ms ease-in-out;
        -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

.logo-1{
	max-height: 6rem;
	margin-bottom: 1rem;
	display: block;
	float: right;
}

.logo-2{
	max-height: 7rem;
}

.wordmark{
	max-height: 6rem;
}

.search{
	background-color: white;
}

.nav-top li{
	font-weight: 700;
	margin: 1rem 0.5rem 0 0.5rem;
}

.nav-top a{
	text-transform: none;
	border-bottom: 0;
	color: #e81547;
}

.nav-top a:hover{
	border-bottom: 5px solid #e81547;
}

nav{
	margin-top: 0.5rem;
}

.header-icons-all a{
	width: 30px;
	height: 30px;
	border-bottom: none;
	text-decoration: none;
	float: right;
	background-color: #ff9013;
	border-radius: 20px;
	margin: 0.1rem;
}

.header-icons-all a:hover{
	width: 30px;
	height: 30px;
	border-bottom: none;
	text-decoration: none;
	float: right;
	background-color: #64caf5;
	border-radius: 20px;
	margin: 0.1rem;
}