.img-flex{
	display: block;
	width: 100%;
}

.product{
	background-color: #fff;
	border: solid 1px #e0e0e0;
	padding:1em;
	margin: 0 0 20px 0;
}

.item-description{
	font-weight: 400;
	color: #c0c0c0;
	margin: 0 0 20px 0;
}