---
layout: default
title: Citrus Smiles
description: Citrus Smiles, leading online fresh fruit vendor.
showbanner: yes
bannertext: Welcome to Citrus Smiles!
---

<div class="grid">
	
	<div class="unit unit-s-1 unit-m-1 unit-l-1">
		
		<h4>Buy Fresh Citrus Fruits Online</h4>

	</div>

</div>

<div class="grid">

	<div class="unit unit-s-1 unit-m-2-3 unit-l-1-2">

		<img class="img-flex" src="../images/fruit.png" alt="citrus fruits">

	</div>

	<div class="unit unit-s-1 unit-m-1-3 unit-l-1-2">

		<p class="gutter-half">We are a leading online vendor for fresh, healthy, quality citrus fruits. We sell a wide variety of various citrus fruits in bulk for great prices. Trust that the absolute best fruits will be delivered right to your door for your enjoyment.</p>

	</div>

	<div class="grid">
		<div class="unit unit-s-1 unit-m-1 unit-l-1">
			{% include promo-large.html title="Valencia Oranges" desc="Valencia oranges are small to medium sized, and they may have a few seeds. They are usually thin-skinned. If you're craving sweet and flavorful fresh OJ, squeeze some Valencias. You'll get lots of juice from each one!" image="oranges.jpg" %}
		</div>
	</div>

	<div class="grid">
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Persian Limes" desc="Large, thick-skinned and bright green in color. For the best Margarita you've ever tasted, pass on the bottled mix and use fresh-squeezed lime juice, sweetened to taste." image="limes.jpg" price="4 for $5" %}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Pummelos" desc="Sometimes referred to as a Chinese grapefruit, they have a thick yet smooth green skin. The taste of pummelo is unique, aromatic, sweeter and less acidic than grapefruit." image="pummelos.jpg" price="2 for $5.00" %}
		</div>
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-3">
			{% include promo-small.html title="Satsuma Mandarins" desc="The first mandarin of the season. The Satsuma peels and segments easily. The exterior will display a light orange color and perhaps a tinge of green, but the interior will be a bright orange." image="satsumas.jpg" price="$5/box" %}
		</div>		
	</div>

</div>