<div class="promo-large">

	<div class="media">
		<h2 class="yotta center">Pick of the Month</h2>
		<div class="media-img media-img-stacked">	
			<img class="img-flex img-center" src="{{site.baseurl}}/images/{{include.image}}" alt="">
		</div>
		<div class="media-body">
			<h6 class="peta center brand-color-2">{{include.title}}</h46>
			<p class="promo-text brand-family center mega">{{include.desc}}</p>
		</div>
	</div>

	<a href="{{site.baseurl}}/fruits/valencia-oranges/" class="btn btn-alt brand-family mega btn-center">Shop Now!</a>

</div>