# Accessibility Testing Report

User testing was conducted by Madeleine on April 2, 2014 between the times of 4:30 and 5:00 with the following participants:

- Shelley
- Amanda
- Melissa
- Sam
- Sean
- Tara

## Tasks

1. Go to store
2. Go to lemons page
3. Add lemons to cart

---

## Individual Results & Observations

### Shelley

- used the screen reader
- completed tasks easily except she missed the 'buy now'
 button the first time and had ot go back

### Amanda

- used keyboard (tabbing)
- completed tasks easily
- got confused with the 'yellow peels' page since it describes lemons, but isn't actually the lemons page

### Melissa

- used screen reader
- completed tasks easily

### Sam

- used screen reader
- completed tasks easily

### Sean

- used keyboard (tabbing)
- completed tasks easily, went too quickly and passed links a few times, had to go back

### Tara

- used keyboard (tabbing)
- completed tasks easily

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- NA

### Serious, Causes Frustration, May Hinder Completion

- NA

### Minor, Annoying, Won’t Hinder Completion

- yellow peels could be mistaken for leading directly to lemon details
- easy to tab fast and miss links