# User Testing Report

User testing was conducted by Madeleine on March 26, 2014 between the times of 3:00 and 3:30 with the following participants:

- Shelley Babij
- Amanda Sparks
- Marta Traczyk

## Tasks

1. Use search bar to search for oranges
2. Find details about lemons
3. Add lemons to cart and checkout

---

## Individual Results & Observations

### Shelley

- she navigated the website very easily
- had no problems completing any tasks

### Amanda

- she navigated the website easily
- during the checkout, she paused when she saw the 'remove item' button, didn't see checkout button right away
- she asked if the remove item button works (it doesn't)

### Marta

- she found the search bar easily but instead of pressing enter after typing, pressed the icon button again (which only opens/closes the search bar)
- didn't realise right away that you have to press enter
- she found lemons on the 'all products' page rather than narrowing down to the 'green and yellow peels' page, unlike previous two testers
- checked out easily

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- no critical tasks

### Serious, Causes Frustration, May Hinder Completion

- search bar a little confusing since after typing you can't press the icon to actually see search results - it will just close the search bar.

### Minor, Annoying, Won’t Hinder Completion

- remove item button a little big/distracting

