.grid{
	background-color: #f9f7b7;
	height: 100%;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
        -ms-transition: all 350ms ease-in-out;
        -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

.icon{
	display: inline-block;
	width:40px;
	float: none;
}

a img:hover{
	border-bottom: 1px solid #e81547;
}

.icons-all{
	display: block;
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

.footer p{
	display: block;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
	padding-bottom: 0.25rem;
}

.terms{
	text-align: center;
	margin: 0 auto;
	padding-bottom: 0.25rem;
	display: block;
	text-decoration: none;
}

a:hover{
	font-weight: 700;
}

@media only screen and (min-width: 40rem;){

.icon{
	width:50px;
}

}
