header{
	margin: 0;
	padding: 0;
	width: 100%;
	/*border-bottom: 1px solid #64caf5;*/
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
        -ms-transition: all 350ms ease-in-out;
        -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

.logo-1{
	display: none;
}

.logo-2{
	max-height: 7rem;
}

.wordmark{
	max-height: 6rem;
}

.nav-top li{
	font-weight: 700;
	margin: 1rem 0.5rem 0 0.5rem;
}

.nav-top a{
	text-transform: none;
	border-bottom: 0;
	color: #e81547;
	padding: 2px;
}

.nav-top a:hover{
	border-bottom: 5px solid #e81547;
}

nav{
	margin-top: 0.25rem;
}

.header-icons-all{
	height: 30px;
}

.header-icons-all a{
	width: 30px;
	height: 30px;
	border-bottom: none;
	text-decoration: none;
	float: right;
	background-color: #ff9013;
	border-radius: 20px;
	margin: 0.1rem;
	padding: 0;
}

.header-icons-all a:hover{
	width: 30px;
	height: 30px;
	border-bottom: none;
	text-decoration: none;
	float: right;
	background-color: #64caf5;
	border-radius: 20px;
	margin: 0.1rem;
	padding: 0;
}

.current{
	background-color: rgba(255, 144, 19, 0.5)
}

.banner{
  background: #f9f7b7 url("../images/banner.jpg") no-repeat center center;
  background-size: cover;
  padding: 4em 1em 1em 4em;
  text-align: center;
  margin-bottom: 1rem;
}

.subnav li{
	font-weight: 700;
	font-size: 1rem;
	margin: 1rem 0.5rem 0 0.5rem;
}

.subnav a{
	text-transform: none;
	border-bottom: 0;
	color: #e81547;
	padding: 2px;
}

.subnav a:hover{
	border-bottom: 3px solid #e81547;
}

.search-label{
	position:absolute;
	top:-10em;
}

@media only screen and (min-width: 40rem){

.logo-1{
	max-height: 6rem;
	margin-bottom: 1rem;
	display: block;
	float: right;

}


}