.promo-small{
	background-color: rgba(189,243,131,0.25);
	border: solid 3px #ff9013;
	padding: 0.5rem;
}

.promo-large{
	background-color: rgba(255, 144, 19, 0.25);
	border: solid 3px #ff9013;
	padding: 0.5rem;
	margin-top: 1.5rem;
}

.promo-text{
	color: #64caf5;
	font-weight: 400;
	margin-top: 0.5rem;
}

.img-center{
	margin:0 auto;
}

.img-promo{
	margin-bottom: 1rem;
}