---
layout: default
---
    <div class="unit unit-s-1">

      <ul class="list-group subnav">
        <a class="{% if page.url == '/fruits/' %}current{% endif %}" href="{{site.baseurl}}/fruits/" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">All Products</li></a>
        <a class="{% if page.url == '/fruits/orange-fruit/' %}current{% endif %}" href="{{site.baseurl}}/fruits/orange-fruit" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">Orange Peels</li></a>
        <a class="{% if page.url == '/fruits/green-yellow-fruit/' %}current{% endif %}" href="{{site.baseurl}}/fruits/green-yellow-fruit" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">Green & Yellow Peels</li></a>
      </ul>
  </div> 
  
<body>
<div class="product-all">

  <div class="grid">

    <div class="unit unit-s-1">

      <h1>{{page.name}}</h1>

    </div>

  </div>

  <div class="grid">  

    <div class="unit unit-s-1 unit-m-1-2">

      <img class="product-img img-flex" src="{{site.baseurl}}/images/{{page.image}}" alt="{{page.alt}}">

    </div>

    <div class="unit unit-s-1 unit-m-1-2">
      <h6 class="mega price">{{page.price}}</h6>
      <h3>Flavor</h3>
      <p>{{page.flavor}}</p>
      <h3>Info & Tips</h3>
      <p>{{page.info}}</p>
      <a href="{{site.baseurl}}/cart" class="btn micro brand-family buy-now">Buy Now!</a>

    </div>    

  </div> 


<div class="grid">  

    <div class="unit unit-s-1">
      <h5>You May Like</h5>
      <a href="{{site.baseurl}}/fruits/lemons">
        <img class="r-img" src="../../images/lemons.jpg" alt="lemons"></a>
      <a href="{{site.baseurl}}/fruits/persian-limes">
        <img class="r-img" src="../../images/limes.jpg" alt=""></a>
      <a href="{{site.baseurl}}/fruits/pummelo">
        <img class="r-img" src="../../images/pummelos.jpg" alt=""></a>
    </div>    

  </div> 


  <div class="grid">   

    <div class="unit unit-s-1 unit-m-1 unit-l-1-2">

      <h5>Overview and Shipping Details</h5>

		<p class="micro">Orders must be placed by 12pm EST Monday – Friday to begin processing on the same day. Processing time will take approximately 1 business day before items shipped.</p>

		<p class="micro">We offer FREE 5 DAY SHIPPING on all U.S. and Canada orders $50 and over (excluding taxes). Orders $50 and over always ship for free—no promotion code needed. For shipments totaling less than $50, there is a delivery charge of $9.95 for 3 Day shipping and $6.95 for 5 Day. Weekends do not count as shipping days.</p>

    </div>

  </div> 
  

  <div class="grid">   

    <div class="unit unit-s-1 unit-m-1">

      <h5>Average Rating</h5>

      <img class="stars" src="{{site.baseurl}}/images/{{page.rating}}" alt="">

    </div>

  </div>   

</div>
</body>

    <div class="unit unit-s-1">

      <ul class="list-group subnav">
        <li class="list-group-item list-group-item-inline brand-family brand-color-2 mega">Back to...</li>
        <a class="{% if page.url == '/fruits/' %}current{% endif %}" href="{{site.baseurl}}/fruits/" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">All Products</li></a>
        <a class="{% if page.url == '/fruits/orange-fruit/' %}current{% endif %}" href="{{site.baseurl}}/fruits/orange-fruit" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">Orange Peels</li></a>
        <a class="{% if page.url == '/fruits/green-yellow-fruit/' %}current{% endif %}" href="{{site.baseurl}}/fruits/green-yellow-fruit" class="ease-all"><li class="list-group-item list-group-item-inline brand-family brand-color mega">Green & Yellow Peels</li></a>
      </ul>
  </div> 

{{content}}