---
layout: fruits
title: Citrus Smiles Store
showbanner: yes
bannertext: Citrus Smiles Store
---

<div class="grid" role="main">
	<div class="unit unit-s-1">
		<h1>Store</h1>
	</div>
</div>

<div class="grid" role="main">
{% for store in site.pages %}
	{% if store.category == 'fruit' %}
		
			<div class="unit unit-s-1 unit-m-1-3 unit-l-1-4 gutter-1-4">	
				
					<a class="brand-color-2 brand-family tera" href="{{site.baseurl}}{{store.url}}">
						{{store.name}}
						<img class="prod-list-img" src="{{site.baseurl}}/images/{{store.image}}" alt="{{page.alt}}">
					</a>
				
		</div>
	{% endif %}
{% endfor %}	
</div>
