---
layout: fruits
title: Orange Fruits
showbanner: yes
bannertext: Orange Peeled Fruits
---

<div class="grid">
	<div class="unit unit-s-1">
		<h1>Fruits with Orange Peels</h1>
	</div>
</div>

<div class="grid">
{% for store in site.pages %}
	{% if store.colour == 'orange' %}	
		<div class="unit unit-s-1 unit-m-1-3 unit-l-1-4 gutter-1-4">
			<a class="brand-color-2 brand-family tera" href="{{site.baseurl}}{{store.url}}">
				{{store.name}}
				<img class="prod-list-img" src="{{site.baseurl}}/images/{{store.image}}" alt="">
			</a>
		</div>
	{% endif %}
{% endfor %}	
</div>